<ion-header>
  <ion-toolbar>
    <ion-title>Datos de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar>
    <img src="assets/icon/mobil2016.jpg" alt="">
  </ion-avatar>
    <ion-card-content>
      
      <ion-item class="box">{{this.data.name}}</ion-item>
      <ion-item class="box">{{this.data.mail}}</ion-item>
      <ion-item class="box">{{this.data.age}}</ion-item>
      <ion-item class="box">{{this.data.direction}}</ion-item>
      <ion-item class="box">{{this.data.nationality}}</ion-item>
    </ion-card-content>
  
  
</ion-content>
