ion-content::part(background) {
  background: url("../../assets/icon/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  width: 500px;
  margin: auto;
  border: 3px solid #fafaf9;
}

.logo-container {
  max-width: 40rem;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  transform: none;
  padding-top: 0.8rem;
  padding-bottom: .5rem;
  background-color: #ffffff;
}
.ventana {
  max-width: 28rem;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  transform: none;
  padding-top: 0.8rem;
  padding-bottom: .5rem;
  background-color: #ffffff;
}